body {
    background-color: floralwhite;
}

#menu>div{
    display: inline-block;
    margin: 2vh 1vh;
    background-color: aliceblue;
}
.page {
    height: 94vh;
    width: 90vw;
    margin: auto;
    max-width: 800px;
}

#menu {
    position: fixed;
    height: 6vh;
    width: 100%;
    background-color: bisque
}

.space {
    height: 6vh;
}

.drawing {
    width: 70vw;
    max-width: 700px;
    min-width: 200px;
    margin: auto;
}

.drawing>img {
    width: 70vw;
    max-width: 700px;
    min-width: 200px;
    margin: auto;
}

#buy_form {
    margin-top: 3vh;
}

#buy_form>input , #buy_form>textarea{
    display: block;
    width: 60vw;
    max-width: 500px;
    margin: 1vh auto ;
    padding: .5vh;
}

#footer {
    width: 100%;
    text-align-last: center;
}

/*------------------ AUDIO PLAYER ----------------------*/

#pbtn{
    height:80px;
    width: 80px;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    outline:none;
}

.play{background: url('../graphics/play_large.png') ;}
.pause{background: url('../graphics/pause_large.png') ;}

#reset{
    height:80px;
    width: 80px;
    border: none;
    background: url('../graphics/reset.png') ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    outline:none;
}

#playercontrols{
    width: 200px;
    margin: 5vh auto;
}

#playgercontrols>button{
	background-color: blue;
}




